footer{
    align-items: center;
    border-top: 2px solid #e0dfd5;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    padding: 40px;
    margin: 12px;
}

.container-footer-logo p {
    font-size: 2em;
    color: #e0dfd5;
    font-weight: 700;
}

.container-footer-copyright {
    display: flex;
    gap: 4px;
}

.container-footer-copyright p {
    color: #e0dfd5;
}

.section-footer-images {
    padding: 12px;
    border-radius: 10px;
}


footer section {
    display: flex;
    gap: 3px;
}

footer section img {
    width: 30px;
    margin: 10px;
    object-fit: contain;
}

/* hover */