.principal-container {
    color: #e0dfd5;
    text-align: justify;
}

.principal-container>h2 {
    margin: 60px;
    color: #e0dfd5;
    text-align: center;
    text-transform: uppercase;
}



.titre-debout {
    display: flex;
    background-image: url(/img/arepas.jpg);

    background-size: cover;
    height: 200px;
    margin: 40px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.titre-debout p {
    font-size: 2em;
    margin: 12px;
    color: #e0dfd5;
    padding: 10px 40px;
    background-color: transparent;
    backdrop-filter: blur(12px);
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px;
    gap: 10px;
}

.container-ingredients {
    width: 100%;
    max-width: 30rem;
}

.container-ingredients,
.container-ingredients p,
.container-ingredients ul,
.container-ingredients li,
.Container-preparation,
.Container-preparation p,
.Container-preparation ol,
.Container-preparation li,
.Container-preparation ul {
    background-color: #de8c2f;
    margin: 10px;
    padding: 5px;

    border-radius: 10px;

}

.container-ingredients p,
.Container-preparation>p,
.Valeur-nutri>h2,
.laisser-commentaire>h2 {
    text-align: center;
    border: 2px solid black;
    background-color: #e0dfd5;
    color: #de8c2f;
}


.Container-preparation {
    width: 50%;
}


.container-ingredients>p {
    font-size: 1.5em;
    font-weight: 700;
}

.Container-preparation>p {
    font-size: 1.5em;
    font-weight: 700;
}


.Valeur-nutri,
.Valeur-nutri * {
    background-color: #de8c2f;
    border-radius: 10px;
    margin: 10px;
}

.container-valeur-commentaire {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin: 40px;
    gap: 30px;
}

.laisser-commentaire {
    flex: 3;
}

.laisser-commentaire,
.laisser-commentaire * {
    background-color: #de8c2f;
    border-radius: 12px;
    margin: 10px;
}

#fname,
#lname,
#utitle,
#Unote,
#message {
    background-color: #e0dfd5;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px;
    padding: 3px;
}

.laisser-commentaire input {
    width: 400px;
}

.laisser-commentaire>label {
    color: #de8c2f;
}

.Votre-message {
    display: flex;
    justify-content: left;
    padding: 10px;
}

#message {
    width: 600px;
}

.laisser-commentaire button {
    border: 2px solid black;
    padding: 2px 15px;
    color: black;
}